/* General layout */
body {
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

#items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive columns */
    gap: 5px;
    margin-bottom: 20px;
}

#items button {
    padding: 8px;
    font-size: 14pt;
    background-color: lightblue;
    cursor: pointer;
    border: none;
}

#cart {
    list-style: none;
    padding: 0;
}

#cart li {
    margin-bottom: 5px;
    font-size: 14px;
}

#cart div {  /* For Pfand buttons */
    display: inline-block;
    margin-left: 10px;
}

#total {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

#checkout {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#categories {
    display: flex; /* Arrange tabs horizontally */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

#categories button {
    padding: 10px;
    background-color: #f0f0f0; /* Lighter background for tabs */
    border: none;
    cursor: pointer;
    margin-right: 5px; /* Add spacing between tabs */
}

#categories button.active {
    background-color: lightblue; /* Highlight active tab */
}

/* Hide items initially */
#items {
    display: none;
}

#previousOrders {
    margin-top: 30px;
    border-top: 1px solid #ddd; /* Add a separator line */
    padding-top: 20px;
}

.order-summary {
    background-color: #f9f9f9; /* Light gray background */
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px; /* Rounded corners */
}

.order-summary p { /* Summary line */
    font-weight: bold;
    margin-bottom: 5px;
}

.order-summary ul { /* Item list */
    padding-left: 20px;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2; /* Or any other color you prefer */
    position: fixed;
    bottom: 0;
    width: 100%;
}

#numberPad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 95%;
    margin: 0 auto;
}

#numberPad button {
    height: 50px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#numberPad button:hover {
    background-color: #45a049; /* Darker green */
}